/* MOBILE */
.logo-nav {
  display: none;
}
.perfil-nav {
  display: none;
}

header {
  width: 100%;
  grid-area: header;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: var(--padding-x);
  background-color: #ABFA46;
  position: fixed;
  bottom: 0%;
}
.nav {
  width: 100%;
}
.menu {
  grid-area: menu-nav;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  text-decoration: underline;
  color: gray;
}
/* MOBILE */


/* TABLET */
@media all and (min-width: 768px) {
  header {
    grid-area: header;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: var(--padding-x);
    background-color: #ABFA46;
    position: static;
  }

  .header-perfil {
    display: none;
  }

  .logo-nav {
    display: flex;
    grid-area: logo-nav;
    height: 30px;
    display: flex;
    justify-content: center;
    
    border: dotted blue;
  }

  .menu {
    grid-area: menu-nav;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    border: dotted rgb(255, 25, 0);
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  .menu a:hover {
    text-decoration: underline;
    color: gray;
  }

  .perfil-nav {
    display: flex;
    grid-area: perfil-nav;
    border: dotted rgb(3, 82, 41);
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .nav {
    width: 100%;
    grid-area: nav;
    display: grid;
    grid-template:
      'logo-nav menu-nav perfil-nav' auto/
      25% auto 25%;
    position: static;
  }
}

/* TABLET */