.home-container {
  width: 100%;
  padding: 2rem 4rem;
}

.card-container {
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, .7fr));
  gap: 2rem;
}
.card {
  height: 19rem;
  width: 12rem;
  border: solid .5px rgb(205, 205, 205);
  border-radius: 1rem;
}

.card-img img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  text-align: left;
  padding: .5rem;
}

h5.card-title{
  margin: 0;
}

.card-body .card-body-author{
  font-size: 12px;
  color: var(--acent-color);
  margin: 0;
}
.card-body-artwork-data{
  font-size: 11px;
  color: gray;
  margin: 0;
}

.card-body-container{
  display: flex;
  align-items: flex-end;
}

.card-body button{
  background-color: var(--main-color);
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.card-body button:hover{
  background-color: var(--acent-color);
  cursor: pointer;
}