.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.logo-login{
    background-color: var(--main-color);
    display: flex;
    place-items: center;
    font-family: var(--logo-font);
    font-size: 2rem;
    border-radius: 8px 8px 0px 0px;
}

.logo-login img {
    width: 4rem;
    margin: 0.2rem 2rem;
}

.login-form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 310px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 70px 0px;
}

.login-input {
    border-radius: 8px;
    height: 30px;
    padding: 6px;
    margin-bottom: 30px;
}

.login-button {
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: var(--normal);
    height: 40px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.footer-login-form{
    margin-top: 1rem;
    font-family: var(--logo-font);
    font-size: 1rem;
    color: rgb(147, 147, 147);
    text-align: center;
}
.footer-login-form span{
    color: #000;
    font-size: 1.5rem;
}
