.registro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-registro{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--logo-font);
    font-size: 2rem;
    border-radius: 8px 8px 0px 0px;
}

.logo-registro img {
    width: 4rem;
    margin: 0.2 rem 2rem;
}

.registro-form-container {
    background-color: var(--secondary-color);
    position: relative;
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-form {
    position: relative;
    max-width: 800px;
    width: 90%;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-form h1{
    font-family: var(--main-font);
    margin-bottom: 20px;
}

.registro-fields{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.registro-fields .registro-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin-bottom: 10px;
}

.registro-field input{
    border-radius: 8px;
    height: 30px;
    padding: 6px;
    margin: 8px 0;
}

.registro-button {
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    font-size: var(--normal);
    height: 40px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.footer-registro-form{
    margin-top: 1rem;
    font-family: var(--logo-font);
    font-size: 1rem;
    color: rgb(147, 147, 147);
    text-align: center;
}
.footer-registro-form span{
    color: #000;
    font-size: 1.5rem;
}

@media(max-width: 550px){
    .registro-fields .registro-field{
        width: 100%;
    }
}
