 .checkout {
  width: 100%;
  height: calc(100vh - (3.5rem + 3.5rem));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 30%;
}

.checkout-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-check {
  background-color: var(--main-color);
  height: 20px;
  width: 20px;
  border-radius: 30px;
  margin-bottom: 1rem;
  background-image: url(/images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  position: relative;
}

.checkout-step:nth-of-type(3) .step-check::after {
  display: none;
}

.checkout-step:nth-of-type(3) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid black;
}

.checkout-step:nth-of-type(2) .step-check::after {
  background-color: black;
}

.checkout-step:nth-of-type(2) .step-check {
  background-image: none;
  background-color: var(--secondary-color);
  border: 2px solid black;
}

.step-check::after {
  content: "";
  width: 15vw;
  height: 2px;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.checkout-form h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cambiardir a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.65rem;
  margin-left: 0.2rem;
}

.env-ret-form {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
}

.env-ret-form img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.env-ret {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.customradio img{
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}

.customradio input{
  display: none;
}

.radio-btn{
  width: 180px;
  height: 120px;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > img{
  background-color: var(--main-color);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .opt-cont{
  align-self: center;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 10%;
  text-align: center;
}

.customradio input:checked + .radio-btn {
  border: 3px solid var(--main-color);
}

.customradio input:checked + .radio-btn > img{
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

@media(max-width: 768px) {
  .checkout {
    height: calc(100vh - (3.5rem));
    flex: wrap;
  }

  .checkout-nav {
    align-items: center;
    justify-content: space-between;
  }

  .env-ret{
    width: 100%;
  }
} 